
/*THIS IS THE CSS IMPORTED IN BASE AND IS USED BY ALL HTML PAGES THAT INHERIT IT*/

/*Used to set the colour used by the headings*/
.white-text{
  color: black;
  font-weight: 50;
}

/*Used to set the background colour of the body*/
body{
  background: #ebf1f5;
}

.inner{
    display: inline-block;
}

/*this class is used so the icons on the footer display as black*/
.inherit-color {
  color: inherit;
}

/*Used to set the button size of the login/logout/register buttons*/
.button-size {
  width:100px;
}

/*this class is used so the footer is displayed in the centre*/
.footer {
  text-align: center;
}

/*this class is to add padding to the left and right of the University logo*/
.logoPadding {
  padding-right: 3%;
  padding-left: 3%;
}

/*used to set the colour of the navigation bar*/
.navbar-custom {
  color: #FFFFFF;
  background-color: #005398;
}