/*THIS IS THE CSS CODE USED FOR THE LOGIN PAGE*/

/*sets the height and margin for the whole page*/
body, html {
    height: 100%;
    margin: 0;
}

/*Used to make sure the background fits screens dynamically*/
.background-cover {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*CSS used to make the login panel slightly transparent*/
.transparency_bg {
  opacity: 0.9;
  position: sticky;
  
}

/*CSS used to display the OGRE logo*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 390px;
  position: relative;

}

/*Used to make the page contents absoutely center*/
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*Used to make the page contents absoutely center*/
.middle {
  display: table-cell;
  vertical-align: middle;
}

/*CSS used to fade in images on Login page*/
img {opacity:0;
-moz-transition: opacity 7s; /* Firefox 4 */
-webkit-transition: opacity 7s; /* Safari and Chrome */
-o-transition: opacity 7s;
transition: opacity 7s;
}