body {
    background: #00bcd4;
}

.white-bg{
	background: white; 
	background-size: 300px 150px;
	border-radius: 25px;
	background-attachment: fixed;
}

.nav{
    width: fit-content;
}
.nav-link{
    color: black;
}
.display-4{
    color: white;
}
