
/*USED TO RESPRESENT THE CSS IN TH PROFILE PAGE*/

/*Used to make the profile panel have a rounded white background*/
.white-bg{
	background: white; 
	background-size: 300px 150px;
	border-radius: 25px;
	background-attachment: fixed;
}

/*Used to make th tabs fit the content*/
.nav{
    width: fit-content;
}

/*Used to make the link on the tabs black*/
.nav-link{
    color: black;
}