{% extends 'points/base.html' %}
{{% load staticfiles %}

{% block title %} {{ block.super }} - About {% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

    <div class="container">
        <br>
        <h1 class="display-4">About</h1>

        <p>Welcome to OGRE! This is a university project created to encourage students to participate in their courses and recieve rewards. The premise of the website is to allow users to earn and spend their OGRE points on games and cosmetic items.</p>

        <p>Meet the team!</p>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/robert.jpg' %}">

                    <div class="card-body">
                        <h5 class="card-title">Harry Yau</h5>

                        <a href="" class = "inherit-color">
                            <i class="fab fa-github fa-2x"></i>
                        </a>

                        <a href="" class = "inherit-color">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="mailto:pringle@live.co.uk" class = "inherit-color">
                            <i class="fas fa-envelope fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/robert.jpg' %}">

                    <div class="card-body">
                        <h5 class="card-title">Robert Pringle</h5>
                        <a href="" class ="inherit-color">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                        <a href="" class ="inherit-color">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a href="mailto:pringle@live.co.uk" class ="inherit-color">
                            <i class="fas fa-envelope fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/robert.jpg' %}">

                    <div class="card-body">
                        <h5 class="card-title">Catriona Murphy </h5>

                        <a href="" class ="inherit-color">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                        <a href="" class ="inherit-color">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="mailto:pringle@live.co.uk" class ="inherit-color">
                            <i class="fas fa-envelope fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/robert.jpg' %}">

                    <div class="card-body">
                        <h5 class="card-title">Mingfeng Ye</h5>

                        <a href="" class ="inherit-color">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                        <a href="" class ="inherit-color">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="mailto:pringle@live.co.uk" class ="inherit-color">
                            <i class="fas fa-envelope fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3" class="top-padding">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/robert.jpg' %}">

                    <div class="card-body">
                        <h5 class="card-title">Alastair Innes</h5>

                        <a href="" class ="inherit-color">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                        <a href="" class ="inherit-color">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="mailto:pringle@live.co.uk" class ="inherit-color">
                            <i class="fas fa-envelope fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
