{% extends 'points/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{ block.super }} - Contact {% endblock %}

{% block body_block %}
<div class="mb-4 container">
    <br>
    <h1 class="display-4">Contact</h1>
    <hr>
    <p class="lead">Drop Us a Message</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form class="form-horizontal" role="form" action="." method="post">
            {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="col-md-6">
                            {{ field|attr:"class:form-control" }}
                            <span class="help-block">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="col-md-6">
                            {{ field|attr:"class:form-control" }}
                            {% if field.help_text %}
                                <p class="help-block"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>

        </form>

            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Glasgow, G12 8QQ, Scotland</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>0141 330 2000</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@OGRE.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</div>
    
{% endblock %}