{% extends 'points/base.html' %}
{% load staticfiles %}

{% block title %} {{ block.super }} - FAQ {% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <h1 class="display-4">FAQ</h1>

        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: What is OGRE?</a>
                    </h4>
                </div>

                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>

                        <p>INFORMATION HERE</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: What can I spend OGRE points on? </a>
                  </h4>

                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>

                        <p>ANSWER</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: How do I earn OGRE points?</a>
                  </h4>

                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>

                        <p>ANSWER</p>
                        
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: QUESTION HERE?</a>
                  </h4>

                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>

                        <p>ANSWER</p>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: QUESTION HERE?</a>
                  </h4>

                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>

                        <p>ANSWER</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/panel-group-->
    </div>
     

{% endblock %}