<!--THIS HTML PAGE IS USED TO DISPLAY THE FAQ PAGE-->

{% extends 'points/base.html' %}
{% load static %}

{% block title %} {{ block.super }} - FAQ {% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}">
    <div class="container">
        <br>
        <h1 class="display-4 white-text">FAQ</h1>
        <hr>
        <div class="panel-group" id="faqAccordion">
            
            <!--Question 1-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" >Q: What is OGRE?</a>
                    </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">OGRE is an organisation that was created to encourage students to go to all their lectures, tutorials and labs.</span></h5>
                    </div>
                </div>
            </div>

            <!--Question 2-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="#" >Q: What can I spend OGRE points on? </a>
                    </h4>
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">You can spend your OGRE points on customising your avatar.</span></h5>
                    </div>
                </div>
            </div>

            <!--Question 3-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="#" >Q: How do I earn OGRE points?</a>
                    </h4>
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">By going to lectures, labs and tutorials and getting your cards scanned.</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}