<!--THIS HTML PAGE IS USED TO DISPLAY THE FAQ PAGE-->

{% extends 'points/base.html' %}
{% load static %}

{% block title %} {{ block.super }} - FAQ {% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}">
    <div class="container">
        <br>
        <h1 class="display-4 white-text">FAQ</h1>
        <hr>
        <div class="panel-group" id="faqAccordion">
            
            <!--Question 1-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" >Q: What is OGRE?</a>
                    </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">OGRE is an organisation that was created to encourage students to go to all their lectures, tutorials and labs.</span></h5>
                    </div>
                </div>
            </div>

            <!--Question 2-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="#" >Q: What can I spend OGRE points on? </a>
                    </h4>
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">You can spend your OGRE points on customising your avatar.</span></h5>
                    </div>
                </div>
            </div>

            <!--Question 3-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="#" >Q: How do I earn OGRE points?</a>
                    </h4>
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">By going to lectures, labs and tutorials and getting your cards scanned.</span></h5>
                    </div>
                </div>
            </div>

            <!--Question 4-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a href="#" >Q: What can I do if I lost my password?</a>
                    </h4>
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">In the login page, press the hyperlink named "Forgotten password" and you will be redirected to the moodle page for resetting password.
                        <p style="color:red;">Notice: After you reset your password, you need to register your OGRE account again</p></span></h5>
                    </div>
                </div>
            </div>

            <!--Question 5-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                        <a href="#" >Q: What can I do if I forget my username?</a>
                    </h4>
                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">You should contact our staff by using the <a href="/points/contact/">contact page</a>.</br> The staff will then help you to reset the username.
                        </span></h5>
                    </div>
                </div>
            </div>

            <!--Question 6-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                    <h4 class="panel-title">
                        <a href="#" >Q: How can I see my OGRE points?</a>
                    </h4>
                </div>
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Your OGRE points is located in the profile page. When you click in to the profile page, press the column "OGRE points" and it will show you the details of your ORGE points</span></h5>
                    </div>
                </div>
            </div>

            <!--Question 7-->
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                    <h4 class="panel-title">
                        <a href="#" >Q: Can I know where my OGRE points go?</a>
                    </h4>
                </div>
                <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Yes, you can. The feature named "Points Transaction List" in index page will redirect you to a page with a list of OGRE points, which show you the details of every OGRE point transaction</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}