<!--THIS HTML PAGE IS USED TO REPRESENT THE TIC TAC TOE GAME-->
{% extends "points/base.html" %}
{% load static %}
{% block title %} {{ block.super }} - Tic Tac Toe {% endblock %}
{% block body_block %}

    <!--Imports the css for how Tic Tac Toe is displayed-->
    <link rel="stylesheet" href="{% static 'css/game2.css' %}">


    <!--Page contents-->
   <div class="container">
        <br>
        <h1 class="display-4 white-text ">Tic Tac Toe</h1>
        <hr>
        <div class="game--container">
            <div data-cell-index="0" class="cell"></div>
            <div data-cell-index="1" class="cell"></div>
            <div data-cell-index="2" class="cell"></div>
            <div data-cell-index="3" class="cell"></div>
            <div data-cell-index="4" class="cell"></div>
            <div data-cell-index="5" class="cell"></div>
            <div data-cell-index="6" class="cell"></div>
            <div data-cell-index="7" class="cell"></div>
            <div data-cell-index="8" class="cell"></div>
        </div>
        <h2 class="game--status"></h2>
        <button class="game--restart">Restart Game</button>
    </div>

    <!--Imports the java script for Tic Tac Toe to work-->
    <script src="{% static 'js/game2.js' %}"></script>

{% endblock %}