
{% extends 'points/base.html' %}
{% load static %}


<!-- This is the HTML code for the login page in which the user initially sees when opening the webpage-->

{% block title_block %}
	{{ category.name }}
{% endblock %}

{% block body_block %}

<!--Reads in css code for the login page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<!-- Makes sure everything is displayed above the background image-->

  
  <!-- Provides a space between the top of the page and the logo-->
  <br><br><br>

     
  <!-- Displays ORGE logo-->
  <img onload="this.style.opacity='0.8'" src="{% static "images/ogrelogo.png" %}" class= "center" >
            
    <div class="vertical-center transparency_bg">
      
      <!-- All code below until next comment sets up the UI for the Login box-->
      <div class="container">
       <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
            
          
              
              <form class="form-signin" method="post">
              {% csrf_token %}
                <div class="form-label-group">
                  
                  <label for="inputUsername"></label>
                  <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
                </div>



                <div class="form-label-group">
                  
                  <label for="inputStudentID"></label>
                  <input type="text" id="inputStudentID" class="form-control" placeholder="StudentID" required autofocus>
                </div>

                <div class="form-label-group">
                  
                  <label for="inputPassword"></label>
                  <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                </div>
              
              <button class="btn btn-lg btn-primary btn-block" type="submit" name="" value="Login">Sign in</button>
            </form>
          </div>
       </div>
      </div>
    </div>
 
 
 <!-- Displays university logo-->
 <img onload="this.style.opacity='0.8'" src="{% static "images/unilogo.png" %}" class= "center" width = "20%" >
            
</div>
</div>

{% endblock %}
