<!--THIS PAGE IS USED TO REPRESENT THE PAGE WHERE USERS CAN SEE THEIR POINT TRANSACTION HISTORY-->

<!--Inherits the html from base-->
{% extends "points/base.html" %} 
{% load static %}
{% block body_block %}

     <!--If the user is logged in display the page contents -->
    {%if user.is_authenticated %}
        <!--Imports the style sheet unique for this webpage-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/pointlist.css' %}">

        <div class="container"> 
            <!--usd to display the table of point transactions-->
            <table class="table">
                <section class="wt-section" id="login">
                    <div class="container">
                        <br>
                	    <h1 class="display-4 white-text">My Point Transactions</h1>
                        <hr>
                        <div class="row">
                            <table id="grid-data" class="table table-condensed table-hover table-striped">
                            <thead class="data">
                            <tr>
                                <th data-column-id="id" data-type="numeric">ID</th>
                                <th data-column-id="type">Type(+/-)</th>
                                <th data-column-id="detail" data-order="desc">Point paid for</th>
                                <th data-column-id="amount" data-type="numeric">Amount</th>
                            </tr>
                            </thead>
                        </div>
                    </div>
                </section>
            </table>
        </div>

        <!--Bootstap tables for data to be displayed on imports-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.js"></script>

        <!--Script used to retrieve the points list-->
        <script>
            $('document').ready(function(){
                $("#grid-data").bootgrid({
                    ajaxSettings: {
                    method: "GET",
                    cache: false
                    },
                    ajax: true,
                    url: "/ajaxpointlist/",
                });
            });
        </script>

    <!--If the user is not authenticated let them know how they can access the page-->
    {% else %}
        <br>
        <center><h2 class = "display-4 white-text">Register or Login to access this page!</h2></center>
    {% endif %}
      
{% endblock %}
