<!--THIS PAGE IS USED TO REPRESENT THE PAGE WHERE USERS CAN SEE THEIR POINT TRANSACTION HISTORY-->

<!--Inherits the html from base-->
{% extends "points/base.html" %} 
{% load static %}
{% block body_block %}

     <!--If the user is logged in display the page contents -->
    {%if user.is_authenticated %}
        <!--Imports the style sheet unique for this webpage-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/pointlist.css' %}">

        <!-- Page Content -->
        <div class="container"> 
            <!--usd to display the table of point transactions-->
            <table class="table">
                <section class="wt-section" id="login">
                    <div class="container">
                        <br>
                	    <h1 class="display-4 white-text">My Point Transactions</h1>
                        <hr>
                        <div class="row">
                            <table id="grid-data" class="table table-condensed table-hover table-striped">
                            <thead class="data">
                            <tr>
                                <th data-column-id="id" data-type="numeric">ID</th>
                                <th data-column-id="type">Type(+/-)</th>
                                <th data-column-id="detail">Point paid for</th>
                                <th data-column-id="amount" data-type="numeric">Amount</th>
                                <th data-column-id="spentTime" data-type="numeric">spentTime</th>
                            </tr>

                            {% if pointlist %}
                                        {% for transactions in pointlist %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{transactions.type}}</td>
                                                <td>{{transactions.detail}}</td>
                                                <td>{{transactions.amount}}</td>
                                                <td>{{transactions.spentTime}}</td>
                                                
                                            </tr>
                                        {% endfor %}
                            {% endif %}
                            </thead>
                        </div>
                    </div>
                </section>
            </table>
        </div>

        

       
    <!--If the user is not authenticated let them know how they can access the page-->
    {% else %}
        <br>
        <center><h2 class = "display-4 white-text">Register or Login to access this page!</h2></center>
    {% endif %}
      
{% endblock %}
