<!--THIS IS USED TO REPRESENT HOW THE PROFILE PAGE LOOKS-->

{% extends 'points/base.html' %} <!--Inherits from base-->
{% load static %}
{% block title %} {{ block.super }} - profile {% endblock %}
{% block body_block %}

    <!--Checks to see if the user is logged in, and if they are it displays the profile contents-->
    {% if user.is_authenticated %}

    <!--Reads in the external CSS for the profile page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

    <!-- Page Content -->
    <div class="container"> <!--puts everthing on the page in a bootstrap container-->
        <br>
        <!--Displays the user name-->
        <h1 class="display-4 white-text"> {{ user }}'s Profile</h1> 
        <hr>
        <div class= " container white-bg">
            <div class="row my-2">
                <div class="col-lg-8 order-lg-2">

                    <!--ul tags used to define what the tabs in the page are going to say-->
                    <ul class="nav nav-tabs">

                        <li class="nav-item">
                            <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                        </li>

                        <li class="nav-item">
                            <a href="" data-target="#messages" data-toggle="tab" class="nav-link">OGRE Points</a>
                        </li>

                    </ul>

                    <!--What content goes in the tabs is defined in here-->
                    <div class="tab-content py-4">

                        <!--Used to display the information required in the profile tab-->
                        <div class="tab-pane active" id="profile">

                            <h5 class="mb-3"> Profile</h5>
                            <div class="row">

                                <div class="col-md-6">
                                    <h6>About</h6>
                                    <!--displays the username-->
                                    <p>Username: {{ user }} </p> 
                                    <!--displays the student ID-->
                                    <p>Student ID: {{ user.studentprofileinfo.StudentID }}</p>
                                    <!--displays the users email-->
                                    <p>Email: {{ user.email }}</p> 
                                </div>

                            </div>
                        </div>

                        <!--Used to display the points the users has in the OGRE points tab-->
                        <div class="tab-pane fade" id="messages">
                            <h5>Points</h5>
                            <h6>Current Points:   <b class = "points"></b> </h6>
                            <h6>Total Points spent: <b class = "spent"></b></h6>
                            <h6>Total Points earned: <b class = "total"></b></h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 order-lg-1 text-center">

                    <!--checks to see if the user has a profile picture, and if they do it displays it-->
                    {% if user.studentprofileinfo.profile_pic %}
                        <img src="{{ MEDIA_URL }}{{ user.studentprofileinfo.profile_pic }}" class="mx-auto img-fluid img-circle d-block" alt="avatar" style="border-radius:50%;width: 80%;">
                   
                    {% else %}  <!--Else display the default profile picture-->
                        <img src="{% static "images/avatar-default-icon.png" %}" class="mx-auto img-fluid img-circle d-block" alt="avatar" style="border-radius:50%;width: 80%;">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--Script used to retrieve the user OGRE points-->
    <script type="text/javascript">
        $('document').ready(function(){
            $.ajax({
                url: "{% url 'getmypoint' %}",
                type: "GET",
                dataType:'json',
            }).done(function( responce ) {
                var status = responce.status;
                if(status == '1'){
                    $(".points").html(responce.points)
                }else{
                }
            })
            $.ajax({
                url: "{% url 'pointcalculate' %}",
                type: "GET",
                dataType:'json',
            }).done(function( responce ) {
                var total_pt = responce.total_point;
                $(".total").html(responce.total_point)
                $(".spent").html(responce.spent_point)
            })
        });
    </script>

    <!-- Components Vendor  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <!--Plugin Initialize-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!--If the user is not logged in display text informing them what they need to do to access the page-->
    {% else %}
        <br>
        <center><h2 class = "display-4 white-text">Register or Login to access this page!</h2></center>
    {% endif %}
{% endblock %}