<!--THIS HTML PAGE REPRESENTS THE REGISTRATION PAGE-->

{% extends "points/base.html" %} 
{% load static %}
{% load crispy_forms_tags %} <!--loads crispy forms to make the form look nicer-->
{% block title %} {{ block.super }} - Register {% endblock %}
{% block body_block %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

  <!--Checks to see if the user is logged in, and if they are it redirects them to the dashboard-->
  {%if user.is_authenticated %}
    <meta http-equiv = "refresh" content = "0; url = {% url 'index' %}" />
  {% else %}
    <!-- Page Content -->
    <div class="container">
      <br>
      <h1 class="display-4 white-text">Register</h1> <!--Title of the page-->
      <hr>
      <div class="jumbotron">
        <!--Checks to see if the user is registered successfully-->
        {% if registered %} 
          <br>
          <center><h1 class="display-4 container white-text">Thanks for registering!</h1></center>
        {% else %} <!--Else display the registration form-->
        
          <!--Form displays where the user fills in their information to register-->
          <form enctype="multipart/form-data" method="POST"> 
            {% csrf_token %}
            {{profile_form.StudentID|as_crispy_field}} <!--Display just the StudentID field from the Profile form defined in form.py-->
            {{user_form|crispy}}
            <input type="submit" class= "button1" name="" value="Register"> 
          </form>    
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}