{% extends 'points/base.html' %}
{% load static %}

{% block title %} {{ block.super }} -Avatar Shop {% endblock %}
{% block body_block %}
<!--Reads in the external CSS for the shop page-->
<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">

<div class="container">
    <br>
    <h1 class="display-4 white-text"> Avatar Shop</h1>
    <hr>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{{ MEDIA_URL }}{{ user.studentprofileinfo.profile_pic }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Current Avatar</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/dog.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "dog" value = "dog">
                    <label for = "dog">Dog</label>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/cat.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "cat" value = "cat">
                    <label for = "cat">Cat</label>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/dragon.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "dragon" value = "dragon">
                    <label for = "dragon">Dragon</label>
                </div>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/pig.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "pig" value = "pig">
                    <label for = "pig">Pig</label>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/chameleon.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "chameleon" value = "chameleon">
                    <label for = "chameleon">Chameleon</label>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/shark.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "shark" value = "shark">
                    <label for = "shark">Shark</label>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/monster.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "monster" value = "monster">
                    <label for = "monster">Monster</label>
                </div>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/panda.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "panda" value = "panda">
                    <label for = "panda">Panda</label>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/chicken.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "chicken" value = "chicken">
                    <label for = "chicken">Chicken</label>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/tiger.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "tiger" value = "tiger">
                    <label for = "tiger">Tiger</label>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/lion.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <input type = "radio" name = "avatar" id = "lion" value = "lion" onclick="CB(this.src)">
                    <label for = "lion">Lion</label>
                </div>
            </div>
        </div>
    </div>

    <div style = "text-align: center">
        <input type = "button" value = "Change Avatar" >
    </div>

</div>

<script type = "text/javascript">
    function CB(bg) {
        var pic;
        if (bg == "{% static "images/lion.jpg" %}"){

        }

    }

</script>


{% endblock %}