{% extends 'points/base.html' %}
{% load static %}

{% block title %} {{ block.super }} -Avatar Shop {% endblock %}
{% block body_block %}
<!--Reads in the external CSS for the shop page-->
<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">

<div class="container">
    <br>
    <h1 class="display-4 white-text"> Avatar Shop</h1>
    <hr>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/bee.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Bee</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/dog.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Dog</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/cat.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Cat</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/dragon.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Dragon</h5>
                </div>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/pig.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Pig</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/chameleon.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">chameleon</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/shark.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Shark</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/monster.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Monster</h5>
                </div>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/panda.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Panda</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/chicken.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Chicken</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/tiger.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Tiger</h5>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static "images/lion.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Lion</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script type = "text/javascript">

</script>



{% endblock %}